## ToDo
-Migrate vbtExamples here

-Create backtesting workflow

Imports

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import vectorbt as vbt
import yfinance as yf
import pandas_ta as ta

Global Vars

In [2]:
start = '2019-01-01'
end = '2021-01-01'

Using just YFinance

In [3]:
#Gets Open, High, Low, Close, Adj Close, and Volume
btcYFPrice1 = yf.download('BTC-USD', start=start, end=end)
#Gets a ticker object
btcYFPrice2 = yf.Ticker('BTC-USD')

[*********************100%***********************]  1 of 1 completed

The ticker object can then be used to get historical data, which is identical to the yf.download() function, but with added dividends and stock splits

In [4]:
btcYFPrice2.history(start=start, end=end)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-01-01 00:00:00+00:00,3746.713379,3850.913818,3707.231201,3843.520020,4324200990,0.0,0.0
2019-01-02 00:00:00+00:00,3849.216309,3947.981201,3817.409424,3943.409424,5244856836,0.0,0.0
2019-01-03 00:00:00+00:00,3931.048584,3935.685059,3826.222900,3836.741211,4530215219,0.0,0.0
2019-01-04 00:00:00+00:00,3832.040039,3865.934570,3783.853760,3857.717529,4847965467,0.0,0.0
2019-01-05 00:00:00+00:00,3851.973877,3904.903076,3836.900146,3845.194580,5137609824,0.0,0.0
...,...,...,...,...,...,...,...
2020-12-27 00:00:00+00:00,26439.373047,28288.839844,25922.769531,26272.294922,66479895605,0.0,0.0
2020-12-28 00:00:00+00:00,26280.822266,27389.111328,26207.640625,27084.808594,49056742893,0.0,0.0
2020-12-29 00:00:00+00:00,27081.810547,27370.720703,25987.298828,27362.437500,45265946774,0.0,0.0
2020-12-30 00:00:00+00:00,27360.089844,28937.740234,27360.089844,28840.953125,51287442704,0.0,0.0
2020-12-31 00:00:00+00:00,28841.574219,29244.876953,28201.992188,29001.720703,46754964848,0.0,0.0

Using VBT + YFinance

In [5]:
btcVBTPrice1 = vbt.YFData.download('BTC-USD', start=start, end=end)
#Gets Date and close price
btcVBTPrice1.get('Close')

Date
2019-01-01 00:00:00+00:00     3843.520020
2019-01-02 00:00:00+00:00     3943.409424
2019-01-03 00:00:00+00:00     3836.741211
2019-01-04 00:00:00+00:00     3857.717529
2019-01-05 00:00:00+00:00     3845.194580
                                 ...
2020-12-28 00:00:00+00:00    27084.808594
2020-12-29 00:00:00+00:00    27362.437500
2020-12-30 00:00:00+00:00    28840.953125
2020-12-31 00:00:00+00:00    29001.720703
2021-01-01 00:00:00+00:00    29374.152344
Freq: D, Name: Close, Length: 732, dtype: float64

Using Pandas-TA + YFinance

In [7]:
#Gets Open, High, Low, Close, Volume, Dividends, Stock Splits
#From 2014-9-17 to 2023-6-27 (Today's date)
btcTAPrice1 = pd.DataFrame().ta.ticker('BTC-USD')

So, we have shown a couple of ways to get historical data. Now, let's try to get some indicators

First, with pandas-ta

Lets take a look at how df4 changes with the following operations

In [ ]:
df  = pd.DataFrame(btcTAPrice1)
print(df)

                                   Open          High           Low  \
Date
2014-09-17 00:00:00+00:00    465.864014    468.174011    452.421997
2014-09-18 00:00:00+00:00    456.859985    456.859985    413.104004
2014-09-19 00:00:00+00:00    424.102997    427.834991    384.532013
2014-09-20 00:00:00+00:00    394.673004    423.295990    389.882996
2014-09-21 00:00:00+00:00    408.084991    412.425995    393.181000
...                                 ...           ...           ...
2023-06-23 00:00:00+00:00  29896.382812  31389.539062  29845.214844
2023-06-24 00:00:00+00:00  30708.738281  30804.148438  30290.146484
2023-06-25 00:00:00+00:00  30545.150391  31041.271484  30327.943359
2023-06-26 00:00:00+00:00  30480.523438  30636.029297  29955.744141
2023-06-28 00:00:00+00:00  30675.457031  30675.457031  30396.917969

                                  Close       Volume  Dividends  Stock Splits
Date
2014-09-17 00:00:00+00:00    457.334015     21056800        0.0           0.0
2014-09-18 00:00:00+00:00    424.440002     34483200        0.0           0.0
2014-09-19 00:00:00+00:00    394.795990     37919700        0.0           0.0
2014-09-20 00:00:00+00:00    408.903992     36863600        0.0           0.0
2014-09-21 00:00:00+00:00    398.821014     26580100        0.0           0.0
...                                 ...          ...        ...           ...
2023-06-23 00:00:00+00:00  30695.468750  24115570085        0.0           0.0
2023-06-24 00:00:00+00:00  30548.695312  12147822496        0.0           0.0
2023-06-25 00:00:00+00:00  30480.261719  12703464114        0.0           0.0
2023-06-26 00:00:00+00:00  30271.130859  16493186997        0.0           0.0
2023-06-28 00:00:00+00:00  30396.917969  16688380928        0.0           0.0

[3206 rows x 7 columns]

Now, lets add some columns to our dataframe

In [10]:
df.ta.log_return(cumulative=True, append=True)
df.ta.percent_return(cumulative=True, append=True)
df.columns
df.tail(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CUMLOGRET_1,CUMPCTRET_1
Date,,,,,,,,,
2023-06-08 00:00:00+00:00,26347.654297,26797.513672,26246.664062,26508.216797,11904824295,0.0,0.0,4.059796,56.962487
2023-06-09 00:00:00+00:00,26505.923828,26770.289062,26339.314453,26480.375000,11015551640,0.0,0.0,4.058745,56.901608
2023-06-10 00:00:00+00:00,26481.761719,26531.044922,25501.835938,25851.240234,19872933189,0.0,0.0,4.034700,55.525951
2023-06-11 00:00:00+00:00,25854.031250,26203.439453,25668.986328,25940.167969,10732609603,0.0,0.0,4.038134,55.720399
2023-06-12 00:00:00+00:00,25934.285156,26087.919922,25675.197266,25902.500000,11677889997,0.0,0.0,4.036681,55.638035
2023-06-13 00:00:00+00:00,25902.941406,26376.351562,25728.365234,25918.728516,14143474486,0.0,0.0,4.037307,55.673520
2023-06-14 00:00:00+00:00,25920.257812,26041.800781,24902.152344,25124.675781,14265717766,0.0,0.0,4.006192,53.937256
2023-06-15 00:00:00+00:00,25121.673828,25735.308594,24797.167969,25576.394531,15837384409,0.0,0.0,4.024011,54.924978
2023-06-16 00:00:00+00:00,25575.283203,26463.173828,25245.357422,26327.462891,16324646965,0.0,0.0,4.052954,56.567253
2023-06-17 00:00:00+00:00,26328.679688,26769.394531,26174.492188,26510.675781,11090276850,0.0,0.0,4.059889,56.967864
2023-06-18 00:00:00+00:00,26510.457031,26675.925781,26325.890625,26336.212891,9565695129,0.0,0.0,4.053286,56.586386
2023-06-19 00:00:00+00:00,26335.441406,26984.611328,26312.832031,26851.029297,12826986222,0.0,0.0,4.072645,57.712076
2023-06-20 00:00:00+00:00,26841.664062,28388.968750,26668.791016,28327.488281,22211859147,0.0,0.0,4.126174,60.940480
2023-06-21 00:00:00+00:00,28311.310547,30737.330078,28283.410156,30027.296875,33346760979,0.0,0.0,4.184448,64.657257
2023-06-22 00:00:00+00:00,29995.935547,30495.998047,29679.158203,29912.281250,20653160491,0.0,0.0,4.180610,64.405765
2023-06-23 00:00:00+00:00,29896.382812,31389.539062,29845.214844,30695.468750,24115570085,0.0,0.0,4.206456,66.118272
2023-06-24 00:00:00+00:00,30708.738281,30804.148438,30290.146484,30548.695312,12147822496,0.0,0.0,4.201663,65.797339
2023-06-25 00:00:00+00:00,30545.150391,31041.271484,30327.943359,30480.261719,12703464114,0.0,0.0,4.199421,65.647703
2023-06-26 00:00:00+00:00,30480.523438,30636.029297,29955.744141,30271.130859,16493186997,0.0,0.0,4.192536,65.190421
2023-06-28 00:00:00+00:00,30675.457031,30675.457031,30396.917969,30396.917969,16688380928,0.0,0.0,4.196682,65.465465